@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.heading-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
