@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.heading-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: '';
  position: absolute;
  left:22px;
  bottom: -10px;
  width: 70px;
  height: 3px;
  background-color: #F5C518;
  border-radius: 2px;
}
